/* GRID - 28px Square Grid with 6 Columns */
/* line 3, ../assets/sass/_grid.scss */
#grid {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 35px;
  right: 35px;
  z-index: 10000;
  pointer-events: none; }
  @media (min-width: 728px) {
    /* line 3, ../assets/sass/_grid.scss */
    #grid {
      max-width: 64.6rem; } }
  @media (min-width: 1036px) {
    /* line 3, ../assets/sass/_grid.scss */
    #grid {
      max-width: 98rem; } }

/* line 21, ../assets/sass/_grid.scss */
#grid.hide {
  display: none; }

/* line 24, ../assets/sass/_grid.scss */
#grid:before,
#grid:after {
  content: "";
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-position: 0 .1rem, 0 .1rem, 100% 0;
  border-right: .1rem solid transparent; }

/* line 33, ../assets/sass/_grid.scss */
#grid.full:after {
  background-image: -webkit-linear-gradient(0deg, black 1.975%, transparent 1.975%), -webkit-linear-gradient(90deg, black 1.975%, transparent 1.975%), -webkit-linear-gradient(180deg, black 1.975%, transparent 1.975%);
  background-size: 2.8rem 2.8rem;
  background-repeat: repeat, repeat, repeat-y;
  opacity: .04;
  z-index: 1; }

/* line 43, ../assets/sass/_grid.scss */
#grid.columns:before {
  background-image: -webkit-linear-gradient(0deg, #53ffff 0.5%, transparent 0.5%), -webkit-linear-gradient(0deg, #53ffff 0.5%, transparent 0.5%);
  background-size: 16.8rem 100%, 16.8rem 100%;
  background-position: 0 0, 14.0rem 0;
  opacity: .75;
  border-right-color: #53FFFF;
  z-index: 2; }

/* line 6, ../assets/sass/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 10, ../assets/sass/main.scss */
html {
  font-size: 62.5%; }

/* line 14, ../assets/sass/main.scss */
.container {
  position: relative;
  outline: 1px solid red;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 35px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
  @media (min-width: 728px) {
    /* line 14, ../assets/sass/main.scss */
    .container {
      max-width: 64.6rem; } }
  @media (min-width: 1036px) {
    /* line 14, ../assets/sass/main.scss */
    .container {
      max-width: 98rem; } }

/* line 31, ../assets/sass/main.scss */
body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  font-family: "Adelle", "adelle-sans", "Adelle Sans", Helvetica Neue, helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased; }

/* line 43, ../assets/sass/main.scss */
header {
  height: 19.6rem; }
  @media (min-width: 728px) {
    /* line 43, ../assets/sass/main.scss */
    header {
      height: 30.8rem; } }

/* line 50, ../assets/sass/main.scss */
svg {
  font-size: 1.25rem;
  position: absolute;
  top: 7.2rem;
  width: 8em;
  height: 8em;
  left: 50%;
  margin-left: -4em;
  margin-top: -1.9em;
  -webkit-filter: blur(40px);
  -webkit-transform: scale(2.25);
  -webkit-transition: all .25s ease-in-out;
  fill: #f5f5f5; }
  @media (min-width: 728px) {
    /* line 50, ../assets/sass/main.scss */
    svg {
      top: 14.0rem; } }
  /* line 68, ../assets/sass/main.scss */
  .ready svg {
    -webkit-filter: none;
    -webkit-transform: scale(1) translateZ(1px);
    fill: #333333; }

/* line 75, ../assets/sass/main.scss */
h1 {
  display: none; }

/* line 77, ../assets/sass/main.scss */
h2 {
  font-size: 2.8rem;
  width: 100%;
  height: 5em;
  position: relative;
  margin: 0 0 0 0;
  text-align: center;
  line-height: 1.5em;
  padding: 0;
  -webkit-transform: translateZ(1px); }
  /* line 88, ../assets/sass/main.scss */
  h2 span {
    display: inline-block;
    color: #f5f5f5;
    color: #252525;
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 1.5em;
    padding: .25em .75em;
    letter-spacing: .2rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.75);
    border-left: none;
    border-right: none;
    width: 100%;
    max-width: 30.8rem; }
    @media (min-width: 728px) {
      /* line 88, ../assets/sass/main.scss */
      h2 span {
        width: 30.8rem; } }

/* line 113, ../assets/sass/main.scss */
section + section {
  margin-top: 8.4rem; }

/* line 117, ../assets/sass/main.scss */
section:last-child {
  padding-bottom: 30.8rem; }

/* For Mobile */
/* line 123, ../assets/sass/main.scss */
a {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: relative;
  -webkit-transform: translateZ(1px); }
  /* line 131, ../assets/sass/main.scss */
  a:hover img {
    -webkit-filter: none; }
  /* line 132, ../assets/sass/main.scss */
  a:hover strong {
    opacity: .01;
    -webkit-transform: scaleY(0) scaleX(0); }
  /* line 133, ../assets/sass/main.scss */
  a:hover:before {
    border: 0.1rem solid rgba(0, 0, 0, 0.5); }
  /* line 136, ../assets/sass/main.scss */
  a:before {
    content: "";
    position: absolute;
    left: -.7rem;
    top: -.7rem;
    bottom: -.7rem;
    right: -.7rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.25);
    border-radius: inherit;
    z-index: 1; }
  /* line 148, ../assets/sass/main.scss */
  a strong {
    display: none; }
    @media (min-width: 728px) {
      /* line 148, ../assets/sass/main.scss */
      a strong {
        display: block;
        font-size: 1.4rem;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30.8rem;
        padding: 2em .25em;
        min-height: 5em;
        line-height: 1em;
        margin: -2.5em 0 0 -15.4rem;
        text-align: center;
        background: #252525;
        letter-spacing: .1rem;
        color: #f5f5f5;
        z-index: 1;
        font-weight: 400;
        text-transform: uppercase;
        /*     border-radius: .2rem; */
        opacity: .99;
        -webkit-transition: all .25s ease;
        z-index: 3;
        -webkit-transform: scaleY(1) scaleX(1); } }
    /* line 176, ../assets/sass/main.scss */
    a strong:before {
      content: "";
      position: absolute;
      left: -.35rem;
      top: -.35rem;
      bottom: -.35rem;
      right: -.35rem;
      border: .1rem solid #252525;
      border-radius: inherit; }

/* line 189, ../assets/sass/main.scss */
a + a {
  margin-top: 5.6rem; }

/* line 191, ../assets/sass/main.scss */
img {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 42.857142%;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  border-radius: inherit;
  z-index: 2; }
  @media (min-width: 728px) {
    /* line 191, ../assets/sass/main.scss */
    img {
      -webkit-filter: grayscale(0.5) opacity(0.15);
      -webkit-transition: all .25s ease; } }

/* Images */
/* line 213, ../assets/sass/main.scss */
.cp img {
  background-image: url(/assets/img/cp.jpg); }

/* line 214, ../assets/sass/main.scss */
.html5-hub img {
  background-image: url(/assets/img/html5hub.jpg); }

/* line 215, ../assets/sass/main.scss */
.cello img {
  background-image: url(/assets/img/cello-2.jpg); }

/* line 216, ../assets/sass/main.scss */
.bobbooks img {
  background-image: url(/assets/img/bobbooks.jpg); }

/* line 217, ../assets/sass/main.scss */
.hot-cold img {
  background-image: url(/assets/img/hot-cold.jpg); }

/* line 218, ../assets/sass/main.scss */
.quiz img {
  background-image: url(/assets/img/quiz.jpg); }

/* line 219, ../assets/sass/main.scss */
.graph img {
  background-image: url(/assets/img/graph.jpg); }
