/* GRID - 28px Square Grid with 6 Columns */

#grid{
  width: 98.0rem;

  min-height: 100%;
  position: absolute;
  top: 0; left: 50%; margin-left: -49.0rem;
  bottom: 0;
  z-index: 10000;
  pointer-events: none;
}

#grid.hide{ display: none; }

#grid:before,
#grid:after{
  content: "";
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  background-position: 0 .1rem, 0 .1rem, 100% 0;
  border-right: .1rem solid transparent;
}

#grid.full:after{
  background-image: -webkit-linear-gradient(  0deg, #000 1.975%, transparent 1.975%),
                    -webkit-linear-gradient( 90deg, #000 1.975%, transparent 1.975%),
                    -webkit-linear-gradient(180deg, #000 1.975%, transparent 1.975%);
  background-size: 2.8rem 2.8rem;
  background-repeat: repeat, repeat, repeat-y;
  opacity: .04;
  z-index: 1;
}

#grid.columns:before{
  background-image: -webkit-linear-gradient( 0deg, #53FFFF .5%, transparent .5%),
                    -webkit-linear-gradient( 0deg, #53FFFF .5%, transparent .5%);
  background-size: 16.8rem 100%, 16.8rem 100%;
  background-position: 0 0, 14.0rem 0;
  opacity: .75;
  border-right-color: #53FFFF;
  z-index: 2;
}