@import 'compass';
@import 'breakpoint';
@import 'config';
@import 'grid';

* {
  @include box-sizing(border-box);
}

html{
  font-size: 62.5%;
}

.container {
  position: relative;
  // outline: 1px solid red;
  margin: 0 auto;
  overflow: hidden; 
  padding: 0 35px;
  @include box-sizing(content-box);
  
  @include breakpoint($break) {
    max-width: 64.6rem;
  }

  @include breakpoint($break1) {
    max-width: 98rem;
  }
}

body{
  font-size: 1.6rem;
  margin:  0;
  padding: 0;
  position: relative;
  width:  100%;
  height: 100%;
  background: $bg-color;
  font-family: "Adelle", "adelle-sans", "Adelle Sans", Helvetica Neue, helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

header { // logo container
  height: 19.6rem;
  @include breakpoint($break) {
    height: 30.8rem;
  }
}

svg{ // logo
  font-size: 1.25rem;
  position: absolute;
  top: 7.2rem;
  width:  8em;
  height: 8em;
  left: 50%;
  margin-left: -4em;
  margin-top: -1.9em;
  -webkit-filter: blur(40px);
  -webkit-transform: scale(2.25);   
  -webkit-transition: all .25s ease-in-out;
  fill: #f5f5f5;

  @include breakpoint($break) {
    top: 14.0rem;
  }

  .ready & {
    -webkit-filter: none;
  -webkit-transform: scale(1) translateZ(1px);
  fill: #333333;
  }
}

h1{display: none;}

h2{
  font-size: 2.8rem;
  width: 100%;
  height: 5em;
  position: relative;
  margin: 0 0 0 0;
  text-align: center;
  line-height: 1.5em;
  padding: 0;
  -webkit-transform: translateZ(1px);

  span{
    display: inline-block;
    color: #f5f5f5;
    color: #252525;
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 1.5em;
    padding: .25em .75em;
    letter-spacing: .2rem;
    border: .1rem solid rgba(0,0,0,.75);
    border-left:  none;
    border-right: none;
    width: 100%;
    max-width: 30.8rem;

    @include breakpoint($break) {
      width: 30.8rem;
    }
    
  }
}



section + section{
  margin-top: 8.4rem;
}

section:last-child{
  padding-bottom: 30.8rem;
}

/* For Mobile */

a{
  display: block;
  background: rgba(0,0,0,.5);
  width: 100%;
  position: relative;
  -webkit-transform: translateZ(1px);

  &:hover {
    img {-webkit-filter: none;}
    strong{ opacity: .01; -webkit-transform: scaleY(0) scaleX(0);}
    &:before{ border: .1rem solid rgba(0,0,0,.5);}
  }

  &:before {
    content: "";
    position: absolute;
    left:   -.7rem;
    top:    -.7rem;
    bottom: -.7rem;
    right:  -.7rem;
    border: .1rem solid rgba(0,0,0,.25);
    border-radius: inherit;
    z-index: 1;
  }

  strong { // project title
    display: none;

    @include breakpoint($break) {
      display: block;
      font-size: 1.4rem;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30.8rem;
      padding: 2em .25em;
      min-height: 5em;
      line-height: 1em;
      margin: -2.5em 0 0 -15.4rem;
      text-align: center;
      background: #252525;
      letter-spacing: .1rem;
      color: #f5f5f5;
      z-index: 1;
      font-weight: 400;
      text-transform: uppercase;
    /*     border-radius: .2rem; */
      opacity: .99;
      -webkit-transition: all .25s ease;
      z-index: 3;
      -webkit-transform: scaleY(1) scaleX(1);
    }

    &:before {
      content: "";
      position: absolute;
      left:   -.35rem;
      top:    -.35rem;
      bottom: -.35rem;
      right:  -.35rem;
      border: .1rem solid #252525;
      border-radius: inherit;
    }
  }
}

a + a{ margin-top: 5.6rem;}

img{ // project img
  content: "";
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 42.857142%;
  background-size: cover;

  background-position: center top;
  background-repeat: no-repeat;
  border-radius: inherit;
  z-index: 2;

  @include breakpoint($break) {
    -webkit-filter: grayscale(.5) opacity(.15);
    -webkit-transition: all .25s ease;
  }
}


/* Images */

.cp img{ background-image: url(/assets/img/cp.jpg); }
.html5-hub img{ background-image: url(/assets/img/html5hub.jpg); }
.cello img{ background-image: url(/assets/img/cello-2.jpg); }
.bobbooks img{ background-image: url(/assets/img/bobbooks.jpg); }
.hot-cold img{ background-image: url(/assets/img/hot-cold.jpg); }
.quiz img{ background-image: url(/assets/img/quiz.jpg); }
.graph img{ background-image: url(/assets/img/graph.jpg); }


