<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="For Sale: 1969 Latvian Full-Sized Cello"/>
    <meta property="og:image" content="http://joshuarule.github.io/cello/assets/img/gallery/img-5-@1x.jpg"/>
    <meta property="og:site_name" content="For Sale: 1969 Latvian Cello"/>
    <meta property="og:description" content="For Sale: 1969 Latvian Full-Sized Cello. Appraised at $15,000. Beautiful tone."/>

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC|Cardo:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
    <script src="http://localhost:35729/livereload.js"></script>
    <!-- endbuild -->
    <!-- endbuild -->

  </head>
  <body class="gallery">
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {{ content }}

    {% include scripts.html %}
    {% include googleanalytics.html %}
    <script>
        $(document).ready(function(){
            slider = $('#slider').Swipe({
                callback: function(index, elem) {
                    // slide number
                    $('.swipe-count span').html(index + 1);
                }
            }).data('Swipe');
            // add slide count
            $('.swipe-count em').html(slider.getNumSlides());

            var closeOnEscape = function (e) {
                console.log(e.which);
                if (e.which == 27) { 
                  $('a.swipe-close').click();
                }
            };

            // on gallery open
            $(document).bind('keyup', closeOnEscape);

            // on gallery close
            $(document).unbind('keyup', closeOnEscape);

            window.picturefill();
        })
    </script>

  </body>
</html>
